<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<head>
	<meta charset="UTF-8">
	<title layout:fragment="title">ちけの便利ツール | DQX | 職人計算機	| ツール説明</title>
	<section layout:fragment="head-extra">
	<link rel="stylesheet" 	th:href="@{/css/about.css}">
	</section>
</head>
<section layout:fragment="content">
	<div class="container-lg d-flex flex-column	flex-grow-1">
		   <section class="mb-5 main">
			<h1>このツールでできること！</h1>
			<ul>
				<li>複数の作りたいアイテムの合計素材を計算できる！</li>
				<li>木工・さいほう職人で作成するアイテムの理論値計算ができる！</li>
			</ul>
			<h1>おねがい</h1>
			<div>
				<p>　このツールで表示される数値で間違っているものがあるかもしれません。</br>
					その際は問い合わせから間違ってるよ～と教えてください。</br>
					　特に、木工・さいほう職人の計算パネルはまだデータが入っていないものもあります。</br>
					データ知っている方いましたら、上記同様に問い合わせから教えてくれると幸いです。</p>
				
		     <h1>使い方</h1>
			 <div>
				<h2>１．自分が作成したいアイテムを選ぼう！</br>（選び方は以下の2パターン）</h2>
				<ul>
					<li>左上の検索窓から作成したいアイテムを検索！</li>
					<img th:src="@{/image/説明_検索窓.png}" alt="説明_検索窓">
					<li>職人を選択して作成したいアイテムを選択！</li>
					<img th:src="@{/image/説明_職人選択.png}" alt="説明_職人選択">
				</ul>
			 </div>
				<div>
					<h2>２．作成したいアイテムを選び終わったら計算ボタンをクリック！</br>必要な素材が表示されるぞ！</h2>
					<img th:src="@{/image/説明_計算ボタン.png}" alt="説明_計算ボタン">
				</div>
				<div>
					<h2>３．リセットボタンを押せば選択したアイテムを解除することもできるぞ！</h2>
					   <img th:src="@{/image/説明_リセットボタン.png}" alt="説明_リセットボタン">
				</div>
				<div>
					<h2>４．選択したアイテムが<span style="color:red">木工職人</span>もしくは<span style="color:red">さいほう職人</span>の場合はクラフトボタンをクリック！</h2>
					<img th:src="@{/image/説明_クラフトボタン.png}" alt="説明_クラフトボタン">
					<p>選択したアイテムの計算パネルが表示されるぞ！</p>
			   		<img th:src="@{/image/説明_計算機画面.png}" alt="説明_計算機画面">
				</div>
				<div>
					<h2>５．各パネルに数値を入力して理論値までの値を表示できるぞ！</h2>
			   		<img th:src="@{/image/説明_計算前.png}" alt="説明_計算前">
			   		<img th:src="@{/image/説明_計算後.png}" alt="説明_計算後">
				</div>
				<div>
					<h2>６．各行動ごとに数値を入力する通常モードと、現在の累計値を入力する現在値入力モードを選べるぞ！</span>画面に表示されているモードが今適用されているモードだ！</h2>
			   		<img th:src="@{/image/説明_通常モード.png}" alt="説明_通常モード">
					<img th:src="@{/image/説明_現在値入力モード.png}" alt="説明_現在値入力モード">
				</div>
				<div>
					<h2>７．リセットボタンを押せば、数値をリセットすることができるぞ！</h2>
			   		<img th:src="@{/image/説明_リセットボタン前.png}" alt="説明_リセットボタン前">
			   		<img th:src="@{/image/説明_リセットボタン後.png}" alt="説明_リセットボタン後">
				</div>
		   </section>
	</div>
</section>
</html>