<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title layout:fragment="title">DQX | 職人計算機 | さいほう・木工職人などの数値計算と素材計算｜ちけの便利ツール</title>
	<link rel="icon" type="image/x-icon" th:href="@{/image/favicon.ico}" />
	<!-- 共通CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
	<link rel="stylesheet" 	th:href="@{/css/style.css}">
	<!-- ページ固有CSSをここに挿入 -->
	<th:block layout:fragment="head-extra"></th:block>
	<link rel="canonical" href="https://chiketools.com/dq10/crafter-calculator/">
	<meta name="description" content="ドラゴンクエストX（ドラクエ10）の職人向け計算ツールです。さいほう・木工などの数値計算や、各職人の素材計算に利用できます。">
	<meta name="keywords" content="DQX, ドラクエ10, ドラゴンクエストX, 職人, 素材計算機, 木工, さいほう, 便利ツール">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="DQX | 職人計算機 | さいほう・木工職人などの数値計算と素材計算｜ちけの便利ツール">
	<meta property="og:description" content="ドラゴンクエストX（ドラクエ10）の職人向け計算ツールです。さいほう・木工などの数値計算や、各職人の素材計算に利用できます。">
	<meta property="og:url" content="https://chiketools.com/dq10/crafter-calculator/">
	<meta property="og:type" content="website">
	<meta property="og:image" content="@{/image/og_image.png}">
	<meta name="google-site-verification" content="dIrrBwLV2o-NdNuDC0CJnG01g4_RXQ8My1fXKS4EgAc" />
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7886700851072663"
	     crossorigin="anonymous"></script>
	 <!-- Thymeleaf で context-path を JS に渡す -->
	 <script th:inline="javascript">
	     /*<![CDATA[*/
	     const CONTEXT_PATH = /*[[@{/}]]*/ '';
	     /*]]>*/
	 </script>
</head>

<body class="d-flex flex-column min-vh-100">
	<!-- ヘッダー -->
	<header class="d-flex flex-row align-items-center justify-content-between">
		<!-- 左：アイコン -->
		<div class="icon d-flex align-items-center">
			<a href="https://chiketools.com/" >	
				<img th:src="@{/image/ちけの便利ツール_紫.png}" alt="アイコン" style="cursor: pointer;">
			</a>
		</div>

		<!-- 中央：タイトル -->
		<h1>DQX | 職人計算機</h1>

		<!-- 右：お問い合わせ -->
		<div class="menu d-none d-md-flex align-items-center gap-4">
			<a href="https://chiketools.com/blog/tool_info/dq10-crafter-calculator-release/" class="text-decoration-none">
				<i class="bi bi-question-circle-fill"></i> ツール説明
			</a>
			<a th:href="@{/updates}" class="text-decoration-none">
				<i class="bi bi-clock-history"></i> 更新履歴
			</a>
			<a href="https://chiketools.com/manager-profile" class="text-decoration-none">
				<i class="bi bi-person-circle"></i> 管理者プロフィール
			</a>
			<a href="https://chiketools.com/contact" class="text-decoration-none">
				<i class="bi bi-envelope-fill"></i> お問い合わせ
			</a>
		</div>
		<div class="d-flex d-md-none align-items-center">
			<button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#mobileMenu"
				aria-controls="mobileMenu" aria-expanded="false" aria-label="Toggle navigation">
				<i class="bi bi-list fs-2"></i>
			</button>
		</div>
	</header>
	<div class="collapse d-md-none" id="mobileMenu">
		<div class="bg-light border-top p-3">
			<ul class="list-unstyled mb-0">
				<li>
					<a href="https://chiketools.com/blog/tool_info/dq10-crafter-calculator-release/" class="text-decoration-none">
						<i class="bi bi-question-circle-fill"></i> ツール説明
					</a>
				</li>
				<li>
					<a th:href="@{/updates}" class="text-decoration-none">
						<i class="bi bi-clock-history"></i> 更新履歴
					</a>
				</li>
				<li>
					<a href="https://chiketools.com/manager-profile" class="text-decoration-none">
						<i class="bi bi-person-circle"></i> 管理者プロフィール
					</a>
				</li>
				<li>
					<a href="https://chiketools.com/contact" class="text-decoration-none">
						<i class="bi bi-envelope-fill"></i> お問い合わせ
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!--ターミナルページの案内-->
	<div class="induction">
		<img th:src="@{/image/クロミ_指さし_吹き出し付き_透過.png}">
	</div>
	<!-- DQX職人計算機-ヘッダー下1-PC -->
	<div class="d-none d-md-block text-center my-2">
		<div id="im-84666f4831504a14921ffd76a78399dc">
		  <script async src="https://imp-adedge.i-mobile.co.jp/script/v1/spot.js?20220104"></script>
		  <script>(window.adsbyimobile=window.adsbyimobile||[]).push({pid:84776,mid:592036,asid:1929815,type:"banner",display:"inline",elementid:"im-84666f4831504a14921ffd76a78399dc"})</script>
		</div>
	</div>
	<!-- DQX職人計算機-ヘッダー下1-SP -->
	<div class="d-block d-md-none text-center my-2">
		<div id="im-42c562126e32469b911c05795f4dac67">
		  <script async src="https://imp-adedge.i-mobile.co.jp/script/v1/spot.js?20220104"></script>
		  <script>(window.adsbyimobile=window.adsbyimobile||[]).push({pid:84776,mid:592090,asid:1932588,type:"banner",display:"inline",elementid:"im-42c562126e32469b911c05795f4dac67"})</script>
		</div>
	</div>
	<!-- DQX職人計算機-ヘッダー下2-SP -->
	<div class="d-block d-md-none text-center my-2">
		<div id="im-cbbc3021cecf4a6e983137579df5f98a">
		  <script async src="https://imp-adedge.i-mobile.co.jp/script/v1/spot.js?20220104"></script>
		  <script>(window.adsbyimobile=window.adsbyimobile||[]).push({pid:84776,mid:592090,asid:1932589,type:"banner",display:"inline",elementid:"im-cbbc3021cecf4a6e983137579df5f98a"})</script>
		</div>
	</div>
	 <main class="container-fluid flex-grow-1">

	 	<div class="row">
	 		<!-- DQX職人計算機-サイドバー左1-PC -->
	 		<div class="col-lg-2 d-none d-lg-block">
	 			<div class="position-sticky text-center" style="top:20px;">
					<div id="im-779ba3b251ca425bb98503a2227fad19">
					  <script async src="https://imp-adedge.i-mobile.co.jp/script/v1/spot.js?20220104"></script>
					  <script>(window.adsbyimobile=window.adsbyimobile||[]).push({pid:84776,mid:592036,asid:1929817,type:"banner",display:"inline",elementid:"im-779ba3b251ca425bb98503a2227fad19"})</script>
					</div>
	 			</div>
	 		</div>
	 		<!-- メイン -->
	 		<div class="col-lg-8 col-12">
	 			<div layout:fragment="content"></div>
	 		</div>
	 
	 		<!-- DQX職人計算機-サイドバー右1-PC -->
	 		<div class="col-lg-2 d-none d-lg-block">
	 			<div class="position-sticky text-center" style="top:20px;">
					<div id="im-a185e8f159d94bc4a7aa7ab2259202f3">
					  <script async src="https://imp-adedge.i-mobile.co.jp/script/v1/spot.js?20220104"></script>
					  <script>(window.adsbyimobile=window.adsbyimobile||[]).push({pid:84776,mid:592036,asid:1929816,type:"banner",display:"inline",elementid:"im-a185e8f159d94bc4a7aa7ab2259202f3"})</script>
					</div>
	 			</div>
	 		</div>
	 
	 	</div>
	 </main>
	<!-- フッター -->
	<footer class="border-top bg-light">
		<div class="container d-flex flex-column flex-md-row justify-content-center align-items-center">
		  <a href="https://chiketools.com/privacy-policy" class="text-decoration-none mx-2 my-1">プライバシーポリシー</a>
		  <a href="https://chiketools.com/terms" class="text-decoration-none mx-2 my-1">利用規約</a>
		</div>
		<div class="text-center mt-1">
	  		<small>© 2025 chiketools.com</small>
	  	</div>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<script th:src="@{/js/script.js}"></script>
	<!-- ページ固有JSをここに挿入 -->
	<th:block layout:fragment="foot-extra"></th:block>
</body>

</html>