<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title layout:fragment="title">DQX | 職人計算機 | ちけの便利ツール</title>
	<link rel="icon" type="image/x-icon" th:href="@{/image/favicon.ico}" />
	<!-- 共通CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
	<link rel="stylesheet" 	th:href="@{/css/style.css}">
	<!-- ページ固有CSSをここに挿入 -->
	<section layout:fragment="head-extra"></section>
	<link rel="canonical" href="https://chiketools.com/dq10/crafter-calculator/">
	<meta name="description" content="ドラゴンクエストXの職人素材を計算できるツール。木工、さいほうの理論値計算も可能。">
	<meta name="keywords" content="DQX, ドラクエ10, ドラゴンクエストX, 職人, 素材計算機, 木工, さいほう, 便利ツール">
	<meta property="og:title" content="	DQX | 職人計算機 | ちけの便利ツール">
	<meta property="og:description" content="ドラゴンクエストXの職人素材を計算できるツール。木工、さいほうの理論値計算も可能。">
	<meta property="og:url" content="https://chiketools.com/dq10/crafter-calculator/">
	<meta property="og:type" content="website">
	<meta name="google-site-verification" content="dIrrBwLV2o-NdNuDC0CJnG01g4_RXQ8My1fXKS4EgAc" />
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7886700851072663"
	     crossorigin="anonymous"></script>
	 <!-- Thymeleaf で context-path を JS に渡す -->
	 <script th:inline="javascript">
	     /*<![CDATA[*/
	     const CONTEXT_PATH = /*[[@{/}]]*/ '';
	     /*]]>*/
	 </script>
</head>

<body class="d-flex flex-column min-vh-100">
	<!-- ヘッダー -->
	<header class="d-flex flex-row align-items-center justify-content-between">
		<!-- 左：アイコン -->
		<div class="icon d-flex align-items-center">
			<a href="https://chiketools.com/" >	
				<img th:src="@{/image/ちけの便利ツール_紫.png}" alt="アイコン" style="cursor: pointer;">
			</a>
		</div>

		<!-- 中央：タイトル -->
		<h1>DQX | 職人計算機</h1>

		<!-- 右：お問い合わせ -->
		<div class="header-right d-none d-md-flex">
			<div class="about">
			<a href="about" class="text-decoration-none">
				<i class="bi bi-question-circle-fill"></i> ツール説明
			</a>
			</div>
			<div class="contact">
			<a href="https://chiketools.com/contact"
				class="text-decoration-none">
				<i class="bi bi-envelope-fill"></i> お問い合わせ
			</a>
			</div>
		</div>
	</header>
	<!-- ヘッダー直下広告（PC） -->
	<div class="d-none d-md-block text-center my-2">
		<div id="im-a48ec30f0ad54710a0acb6897bc7659b">
			<script async src="https://imp-adedge.i-mobile.co.jp/script/v1/spot.js?20220104"></script>
			<script>
				(window.adsbyimobile = window.adsbyimobile || []).push({
					pid: 84776,
					mid: 592036,
					asid: 1928335,
					type: "banner",
					display: "inline",
					elementid: "im-a48ec30f0ad54710a0acb6897bc7659b"
				})
			</script>
		</div>
	</div>
	<!-- ヘッダー直下広告（スマホ） -->
	<div class="d-block d-md-none text-center my-2">
		<div id="im-feee33e348c345e4a3baebce9035d455">
			<script async src="https://imp-adedge.i-mobile.co.jp/script/v1/spot.js?20220104"></script>
			<script>
			  (window.adsbyimobile = window.adsbyimobile || []).push({
				  pid: 84776,
				  mid: 592036,
				  asid: 1928340,
				  type: "banner",
				  display: "inline",
				  elementid: "im-feee33e348c345e4a3baebce9035d455"
			  })
			</script>
		</div>
	</div>
	<div class="header-right-md d-block d-md-none d-flex flex-column align-items-center justify-content-center">
			<div class="about">
			<a href="about" class="text-decoration-none">
				<i class="bi bi-question-circle-fill"></i> ツール説明
			</a>
			</div>
			<div class="contact">
			<a href="https://chiketools.com/contact"
				class="text-decoration-none">
				<i class="bi bi-envelope-fill"></i> お問い合わせ
			</a>
			</div>
	 </div>
	 <main layout:fragment="content" class="flex-grow-1 container">
	   <div class="row">
	 
	     <!-- メインコンテンツ -->
	     <div class="col-md-8">
	       <!-- 子ページの内容がここに入る -->
	     </div>
	 
	     <!-- サイドバー（PCのみ） -->
	     <div class="col-md-4 d-none d-md-block">
	 
	       <div class="position-sticky text-center" style="top: 20px;">
	 
	         <div id="im-b769519dcb3c47bd9d2ab20f4a78c855">
	           <script async src="https://imp-adedge.i-mobile.co.jp/script/v1/spot.js?20220104"></script>
	           <script>
	             (window.adsbyimobile = window.adsbyimobile || []).push({
	               pid: 84776,
	               mid: 592036,
	               asid: 1928336,
	               type: "banner",
	               display: "inline",
	               elementid: "im-b769519dcb3c47bd9d2ab20f4a78c855"
	             })
	           </script>
	         </div>
	 
	       </div>
	 
	     </div>
	 
	   </div>
	 </main>
	<!-- フッター -->
	<footer class="border-top bg-light">
		<div class="container d-flex flex-column flex-md-row justify-content-center align-items-center">
		  <a href="https://chiketools.com/privacy-policy" class="text-decoration-none mx-2 my-1">プライバシーポリシー</a>
		  <a href="https://chiketools.com/terms" class="text-decoration-none mx-2 my-1">利用規約</a>
		</div>
		<div class="text-center mt-1">
	  		<small>© 2025 chiketools.com</small>
	  	</div>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<script th:src="@{/js/script.js}"></script>
	<!-- ページ固有JSをここに挿入 -->
	<section layout:fragment="foot-extra"></section>
</body>

</html>