<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<head>
	<meta charset="UTF-8">
	<title layout:fragment="title">DQX | 職人計算機 | 計算機パネル | ちけの便利ツール</title>
	<section layout:fragment="head-extra">
		<link rel="stylesheet" 	th:href="@{/css/craftStyle.css}">
	</section>
</head>
<section layout:fragment="content">
	<div class="container-lg d-flex flex-column	flex-grow-1">
		<div id="cardList"></div>
	</div>
</section>
<section layout:fragment="foot-extra">
	<script th:src="@{/js/craftCalculator.js}"></script>
</section>
</html>