<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>	DQX:職人素材計算機</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="/css/style.css">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7886700851072663"
	     crossorigin="anonymous"></script>
</head>

<body>
	<!-- ヘッダー -->
	<header class="d-flex flex-row align-items-center justify-content-between">
		<!-- 左：アイコン -->
		<div class="icon h-100 d-flex align-items-center">
			<img src="/image/ちけの便利ツール_紫.png" alt="アイコン">
		</div>

		<!-- 中央：タイトル -->
		<h1>DQX:職人素材計算機</h1>

		<!-- 右：お問い合わせ -->
		<div class="contact d-none d-md-block">
			<a href="https://chike-tech.com/%e5%95%8f%e3%81%84%e5%90%88%e3%82%8f%e3%81%9b/"
				class="text-decoration-none">
				<i class="bi bi-envelope-fill"></i> お問い合わせ
			</a>
		</div>
	</header>
	<div class="contact d-block d-md-none d-flex align-items-center justify-content-center">
		<a href="https://chike-tech.com/%e5%95%8f%e3%81%84%e5%90%88%e3%82%8f%e3%81%9b/" class="text-decoration-none">
			<i class="bi bi-envelope-fill"></i> お問い合わせ
		</a>
	</div>
	<div class="container-lg vh-100 d-flex flex-column">

		<div class="row flex-grow-1">

			<!-- 左カラム：検索＋ボタン＋選択済み作成物 -->
			<div class="left-column col-12 col-md-4 d-flex flex-column">
				<!-- 検索窓 -->
				<div class="position-relative">
					<input type="text" id="itemInput" class="form-control" placeholder="作成物を入力...">
					<div id="suggestions" class="list-group position-absolute w-100"></div>
				</div>

				<!-- 計算・リセットボタン -->
				<div>
					<button id="calculateBtn" class="btn w-100">計算</button>
					<button id="resetBtn" class="btn btn-secondary w-100">リセット</button>
				</div>

				<!-- 選択済み作成物カード -->
				<div class="card flex-grow-1 overflow-auto" id="itemsCard">
					<h3>選択済み作成物一覧</h3>
					<div id="itemsList"></div>
				</div>

				<!-- 計算結果 -->
				<div class="card flex-grow-1 overflow-auto" id="resultContainer">
					<h3>必要素材一覧</h3>
					<div id="requiredMaterialList"></div>
				</div>
			</div>

			<!-- 右カラム：職人作成物一覧 -->
			<div class="right-column col-12 col-md-8 d-flex flex-column">
				<!-- 職人タブ -->
				<div id="jobTabs" class="d-flex flex-wrap justify-content-start"></div>

				<!-- 職人作成物カード -->
				<div class="card flex-grow-1 overflow-auto" id="jobItemsCard">
					<div id="jobItems" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4"></div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/js/script.js"></script>
</body>

</html>